@font-face {
  font-family: 'belligerent_madnessregular';
  src: font_url('belligerent-webfont.eot');
  src: font_url('belligerent-webfont.eot?#iefix') format('embedded-opentype'),
       font_url('belligerent-webfont.woff') format('woff'),
       font_url('belligerent-webfont.ttf') format('truetype'),
       font_url('belligerent-webfont.svg#belligerent_madnessregular') format('svg');
  font-weight: normal;
  font-style: normal;

}